@model Complain.Models.Form;
@{
    ViewData["Title"] = "CreatePage";
}
<div class="container">
<div class="main">
<div class="padding">
<h2>Complaint</h2>
<p>แบบรับข้อร้องเรียนจากลูกค้า</p>
    <div>
        <form method="post" asp-controller="Complaint" asp-action="CreateF" enctype="multipart/form-data">
            <input type="hidden" asp-for="StatusId" value="0" />
                <div id="RadioButtonGroup" class=" col-md-12" role="group" aria-label="Basic checkbox toggle button group">
                    @Html.RadioButton("TypeId", 1)
                    <label>เสนอแนะ </label>
                    @Html.RadioButton("TypeId", 2)
                    <label>Complaint </label>
                    @Html.RadioButton("TypeId", 3)
                    <label>Claim </label>
                </div>
            <br/>
            <div class="row g-3">
                <div class="col-md-6">
                    <label asp-for="FromData" for="roundedInput" class="form-label">กรุณากรอกวันที่ยื่นเรื่อง</label>
                    <input asp-for="FromData" type="date" id="roundedInput" class="form-control rounded-pill" />
                </div>
                <div class="col-md-6">
                    <div class="mt">
                        <label asp-for="ToId" for="ToId" class="form-label">เรียน</label>
                        <select asp-for="ToId" asp-items="ViewBag.ListManager" type="text" class="select2 form-select rounded-pill">
                            <option>เลือก</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-2">
                        <label asp-for="CCId" for="CCId" class="form-label">สำเนาถึง</label>
                        <select asp-for="CCId" asp-items="ViewBag.ListManager" type="text" class="select2 form-select rounded-pill">
                            <option>เลือก</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-2">
                        <label asp-for="FromName" for="FromName" class="form-label">เรื่อง</label>
                        <input asp-for="FromName" type="text" id="roundedInput" class="form-control rounded-pill" placeholder="กรุณากรอกเรื่องที่ร้องเรียน" />
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="mt-2">
                        <label asp-for="CostomerId" for="CostomerId" class="form-label">รหัสลูกค้า</label>
                        <select asp-for="CostomerId" asp-items="ViewBag.ListCostomer" type="text" id="select-Ctm" class="select2 form-select rounded-pill" requireds>
                            <option>เลือก</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-2">
                        <label class="form-label">ชื่อลูกค้า</label>
                        <input type="text" id="txtcostomername" class="form-control rounded-pill" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-2">
                        <label class="form-label">รหัสสินค้า</label>
                        <input type="text" id="txtproductid" class="form-control rounded-pill" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-2">
                        <label class="form-label">ชื่อสินค้า</label>
                        <input type="text" id="txtproductname" class="form-control rounded-pill" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-2">
                        <label asp-for="Lot" for="Lot" class="form-label">กรุณากรอกวันที่ผลิตสินค้า</label>
                        <input asp-for="Lot" type="date" class="form-control rounded-pill" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-2">
                        <label asp-for="ProblemId" for="ProblemId" class="form-label">กลุ่มปัญหาที่พบ</label>
                        <select asp-for="ProblemId" asp-items="ViewBag.ListProblem" class="select2 form-select rounded-pill">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-2">
                        <label asp-for="ProblemOthet" for="ProblemOthet" class="form-label">อื่นๆโปรดระบุ</label>
                        <input asp-for="ProblemOthet" type="text" class="form-control rounded-pill" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-2">
                        <label asp-for="Number" for="Number" class="form-label">จำนวน</label>
                        <input asp-for="Number" type="number" class="form-control rounded-pill" placeholder="กรุณากรอกจำนวนสินค้า" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-2">
                        <label asp-for="Price" for="Price" class="form-label">มูลค่าความเสียหาย</label>
                        <input asp-for="Price" type="number" class="form-control rounded-pill" placeholder="มูลค่าความเสียหาย" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mt-2">
                        <label asp-for="Note" for="Note" class="form-label">รายละเอียดเพิ่มเติม</label>
                        <input asp-for="Note" type="text" id="bootstrap-maxlength-example2" rows="3" maxlength="255" class="form-control rounded-pill" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt">
                        <label asp-for="Co" for="Co" class="form-label">CO(ถ้ามี)</label>
                        <input asp-for="Co" type="text" id="bootstrap-maxlength-example2" class="form-control rounded-pill" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-auto">
                        <label asp-for="Image" for="formFile" class="form-label">แนบไฟล์</label>
                        <input asp-for="Image" class="form-control rounded-pill" type="file" id="formFile" name="file" />
                    </div>
                </div>
                <div>

                </div>
                <div class="col-md-6">
                    <div class="mb-auto">
                        <label asp-for="UserId" for="UserId" class="form-label">ผู้ดำเนินการ</label>
                        <select asp-for="UserId" asp-items="ViewBag.ListUser" class="select2 form-select rounded-pill">
                            <option>เลือก</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-auto">
                        <label asp-for="MngId" for="MgId" class="form-label">ผู้อนุมัติ</label>
                        <select asp-for="MngId" asp-items="ViewBag.ListManager" class="select2 form-select rounded-pill">
                            <option>เลือก</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Button trigger modal -->
            <center>
                <div class="pt-4">
                    <button type="button" class="btn btn-primary me-sm-3 me-1" data-toggle="modal" data-target="#exampleModalCenter">
                        บันทึกข้อมูล
                    </button>
                </div>
            </center>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;System</h5>
                        </div>
                        <div class="modal-body" style="text-align: center;">
                            คุณต้องการบันทึกข้อมูลใช่หรือไม่ โปรดกดปุ่มยืนยันค่ะ
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">ยกเลิก</button>
                            <button type="submit" value="Create" class="btn btn-success btn-sm">ยืนยัน</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>


@section Scripts {
    <!-- PupupBoostap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

    <script>
        $(function () {
            $("#select-Ctm").change(function () {
                $.post("/Complaint/Customerselect",
                    { CostomerId: $(this).val() },
                    function (response) {
                        $("#txtcostomername").val(response.costomerName)
                        $("#txtproductname").val(response.productName)
                        $("#txtproductid").val(response.productId)
                    }
                );
            });
        });
    </script>
}



