@model From;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ComplaintPage";
}

<h1>แบบรับข้อร้องเรียนจากลูกค้า</h1>

<form>
    <div class="form-group">
        <label asp-for="From_data"></label>
        <input type="date" asp-for="From_data" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="From_name"></label>
        <input type="text" asp-for="From_name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Costomer_Id"></label>
        <input type="text" asp-for="Costomer_Id" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Product_Id"></label>
        <input type="text" asp-for="Product_Id" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="lot"></label>
        <input type="date" asp-for="lot" class="form-control"/>
    </div>
</form>


