<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Complaint</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Complaint.styles.css" asp-append-version="true" />

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="assets/css/styles.css">


</head>
<body>

 @*    *@

    <nav class="nav">
        <ul class="nav__list">
            <a href="#" class="nav__link active-link">
                <i class="ri-dashboard-3-line"></i>
                <span class="nav__name">Home</span>
            </a>

            <a href="#" class="nav__link">
                <i class="ri-account-box-line"></i>
                <span class="nav__name">Accounts</span>
            </a>

            <a href="#" class="nav__link">
                <i class="ri-rocket-line"></i>
                <span class="nav__name">Investments</span>
            </a>

            <a href="#" class="nav__link">
                <i class="ri-file-list-3-line"></i>
                <span class="nav__name">Files</span>
            </a>

            <a href="#" class="nav__link">
                <i class="ri-settings-3-line"></i>
                <span class="nav__name">Settings</span>
            </a>
        </ul>

        <!-- Shapes -->
        @* <div class="nav__circle-1"></div>
        <div class="nav__circle-2"></div>

        <div class="nav__square-1"></div>
        <div class="nav__square-2"></div> *@
    </nav>


    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script>

    <!--===== MAIN JS =====-->
    <script src="assets/js/main.js"></script>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
